th {
   width: 2.5em;
   text-align: left;
}

#settings {
   position: fixed;
   bottom: 0;
   padding-bottom: 2em;
}

table#names-and-checkboxes {
   margin-bottom: 1em;
}

button {
   border-radius: 2px;
}
